<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Boot</key>
    <dict>
      <key>Arguments</key>
      <string>-v debug=0x100 keepsyms=1</string>
    </dict>
    <key>Devices</key>
    <dict>
      <key>Properties</key>
      <dict>
        <key>PciRoot(0x0)/Pci(0x1f,0x3)</key>
        <dict>
          <key>AAPL,slot-name</key>
          <string>Internal@0,31,3</string>
          <key>device_type</key>
          <string>Audio device</string>
          <key>hda-gfx</key>
          <string>onboard-1</string>
          <key>layout-id</key>
          <data>
              BwAAAA==
          </data>
          <key>model</key>
          <string>Cannon Lake PCH cAVS</string>
        </dict>
        <key>PciRoot(0x0)/Pci(0x2,0x0)</key>
        <dict>
          <key>AAPL,ig-platform-id</key>
          <data>
              AwCYPg==
          </data>
          <key>AAPL,slot-name</key>
          <string>Internal@0,2,0</string>
          <key>device-id</key>
          <data>
              mD4AAA==
          </data>
          <key>device_type</key>
          <string>Display controller</string>
          <key>framebuffer-patch-enable</key>
          <data>
              AQAAAA==
          </data>
          <key>hda-gfx</key>
          <string>onboard-2</string>
          <key>model</key>
          <string>Intel UHD Graphics 630 (Desktop 9 Series)</string>
        </dict>
      </dict>
    </dict>
    <key>Graphics</key>
    <dict>
      <key>Inject</key>
      <false/>
    </dict>
    <key>KernelAndKextPatches</key>
    <dict>
      <key>KextsToPatch</key>
      <array>
        <dict>
          <key>Comment</key>
          <string>Port limit increase (Ricky)</string>
          <key>Disabled</key>
          <false/>
          <key>Find</key>
          <data>
            g/sPD4OPBAAA
          </data>
          <key>InfoPlistPatch</key>
          <false/>
          <key>MatchOS</key>
          <string>10.14.x</string>
          <key>Name</key>
          <string>com.apple.driver.usb.AppleUSBXHCI</string>
          <key>Replace</key>
          <data>
            g/sPkJCQkJCQ
          </data>
        </dict>
      </array>
    </dict>
    <key>SMBIOS</key>
    <dict>
      <key>BoardSerialNumber</key>
      <string>XXXX</string>
      <key>ProductName</key>
      <string>iMac19,2</string>
      <key>SerialNumber</key>
      <string>XXXX</string>
      <key>SmUUID</key>
      <string>XXXX</string>
    </dict>
    <key>SystemParameters</key>
    <dict>
      <key>InjectKexts</key>
      <string>Yes</string>
      <key>InjectSystemID</key>
      <true/>
    </dict>
  </dict>
</plist>
